@media screen and (max-width: 768px) {
	#pilihRole{
		margin-left : 28% !important;
	}
	#pilih-role-form{
		 width: 90% !important;
	}
}

button{
	background-color:#09A8DD;
	margin-bottom: 10%";
}

h2{
	color : #09A8DD;
	font-weight: bold;
}

#pilihRole{
	margin-left : 80%;
}
#pilih-role-form{
	 width: 50%;
}
