@font-face {
    font-family: Montserrat-Regular;
    src: url("../fonts/Montserrat-Regular.ttf");
}

@font-face {
    font-family: Montserrat-Bold;
    src: url("../fonts/Montserrat-Bold.ttf");
}

@media screen and (max-width: 768px) {
	.footer {
		position: relative !important;
		bottom: 0 !important;
		width: 100%;
		font-size: 11px;
		text-align: center
	}
}

.footer {
<<<<<<< HEAD
  position: fixed;
=======
  position: absolute;
>>>>>>> ac1e53e5d5183d390fcb3982b7fe24f1cf580fd0
  bottom: 0;
  width: 100%;
}

body {
	background-color: #DFDFDE;
	font-family: 'Montserrat-Regular';
}

.messages {
<<<<<<< HEAD
	font-family: 'Montserrat-Bold';
	color: transparent;
}
=======
	margin-top:3%;
	font-family: 'Montserrat-Bold';
}
>>>>>>> ac1e53e5d5183d390fcb3982b7fe24f1cf580fd0
