@font-face {
    font-family: Montserrat-Regular;
    src: url("../fonts/Montserrat-Regular.ttf");
}

@font-face {
    font-family: Montserrat-Bold;
    src: url("../fonts/Montserrat-Bold.ttf");
}

body {
	background-color: #DFDFDE;
	font-family: 'Montserrat-Regular';
}

.messages {
	margin-top:3%;
	font-family: 'Montserrat-Bold';
}

.table-striped > tbody > tr:nth-child(odd) > td{
   background-color: white;
}

.table-striped > tbody > tr:nth-child(even) > td{
   background-color: #AEDDE5;
}

th{
   background-color: #56A5EC;
   color: white;
}

.table-hover > tbody > tr:nth-child(odd):hover > td{
   background-color: #F2F1EF;
}

.table-hover > tbody > tr:nth-child(even):hover > td{
   background-color: #E4F1FE;
}
#loader {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0 , 0.8);
	z-index: 10000;
	display: none;
}

#img-loader {
	position: absolute;
	left: 43vw;
	top: 38vh;
}